@font-face {
    font-family: "fontawesome-webfont"; 
    src: url("./fonts/fontawesome-webfont.ttf") format("truetype"); 
} 
/* Обнуление */
* {
    margin: 0;
    padding: 0;
}
h1,h2 {
    text-align: center;
}
h1 {font-size: 36px;}
h2,h3 {font-size: 24px;}

#steamroom {    
    width: 1579px;
    height: 700px;
    margin: 0 auto;
    background: url('../images/game/steamroom.jpg') no-repeat scroll center center /contain;
}
#h1 {
    color: white;
}
#journal {
    position: absolute;
    width: 300px;
    min-height: 300px;
    left: 350px;
    top: 60px;
    background: rgba(255,255,235,0.6);
    padding: 10px;
    border-radius: 5px;    
}
#currentParams {
    position: absolute;
    width: 250px;
    right: 350px;
    top: 60px;
    background: rgba(255,255,235,0.6);
    padding: 10px;
    border-radius: 5px;    
}
#game {
    height: 100%;
    position: relative;
}
#currentParams p{
    display: flex;
    justify-content: space-between;
}
#gameResult {
    width: 800px;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    left:350px;
}
#gameResult p{
    font-size: 40px;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 5px 20px;
}
#heater {  
    width: 128px;
    height: 140px;
    /* background: rgba(255,255,235,0.2); */
    position: absolute;
    top: 228px;
    left: 733px;  
} 
#stove {  
    width: 115px;
    height: 95px;
    /* background: rgba(255,255,235,0.2); */
    position: absolute;
    top: 378px;
    left: 750px;  
} 
.flame {
    padding-left: 3px;
    padding-top: 3px;
    width: 109px;
    height: 90px;
    transform: rotate(-0.5deg);
}
#woods {
    width: 200px;
    height: 200px;    
}
.log {
    position: absolute;
    top: 543px;
    left: 686px;
    width: 100px;
}
.bark {
    position: absolute;
    top: 543px;
    left: 865px;
    width: 100px;
}
.water {
    position: absolute;
    top: 395px;
    left: 1033px;
}

#gameRules {
    margin: 100px auto 0;
    width: 800px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 15px 30px;
    border-radius: 5px;
}
#journalTable {
    width: 100%;    
}
#journalTable td {
    padding: 5px;
    text-align: center;
}
#journalTable th:first-child {  
    padding: 5px; 
    text-align: left;
}
#journalTable td:first-child { 
    text-align: left;
}
.lose {
    color: red;
}