@font-face {
    font-family: "fontawesome-webfont"; 
    src: url("../fonts/fontawesome-webfont.ttf") format("truetype"); 
} 
/* Обнуление */
* {
    margin: 0;
    padding: 0;
}
h1,h2 {
    text-align: center;
}
h1 {font-size: 36px;}
h2,h3 {font-size: 24px;}

body {    
    font-family: Arial;
}


/* Контейнер */
.container {
    margin: 0 auto;
    width: 50%;
}
.calc-photos {
    margin: 0 auto;
    width: 680px;/* было 780px */
    position: relative;
}
.calc-photos img {
    width: 100%;
}

/* Стилизация: ШАГИ */
.container .calc__steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0 15px 0;
}
.calc__steps ul li {
    list-style-type: none;
    flex: 1;
}

.step li{
    height: 28px;
    padding-top: 6px;
    margin-right: 5px;
    padding-left: 10px;
    border-radius: 0 15px 15px 0;
    color: #000;
}
li.parent {   
    background: #2c8900; 
    color: #fff;         
}
.step li:first-child{
    background: #2c8900;           
    height: 28px;
    padding-top: 6px;
    color: #fff;
}
.calc__step {
    width: 85%;
}
.calc__step ul li::after {
    content: '\f061';
    font-family: fontawesome-webfont;
    color: #999999;
    display: inline-block;
    font-size: 14px;    
    padding-left: 4px;
    float: right;
    margin-right: 7px;
    margin-top: 3px;
}
.calc__step ul li:last-child::after {
    display: none;
}
.calc__step ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.calc__price {
    width: 15%;
    color: #2c8900;    
    font-size: 20px;
    font-weight: 700;
    text-align: right;    
    height: 30px;
    padding-top: 8px;
    padding-right: 10px;
    border: 1px solid #2c8900;
    border-radius: 15px 0 0 15px;
    
}

/* Стилизация: СЕКЦИЯ */
.calc__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Стилизация: РАЗМЕРЫ и прочее*/
.calc__section input[type="text"], select {
    box-sizing: border-box;
    width: 100%;
    padding: 0 6px;
    border: 1px solid #bdbdbd;
    color: #4B4D4B;
    font-size: 14px;
    border: 1px solid #ccc;
    width: 245px;
    height: 30px;
}
.calc__section input[type="text"]:focus, select:focus {
    border: 1px solid #489829; 
}
.calc__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.calc__block {
    display: flex;
    flex-direction: column;    
}
.calc__field-title {
    font-size: 16px;
    margin: 5px 0 2px 0;
}
.calc__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-top: 10px;  
    margin-top: 10px; 
}
/* Кнопка */
.btn {
    font-size: 14px;
    background-color: #489829;
    color: #fff;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.btn.disable {
    background-color: #fff;
    color: #999999;
}
/* Класс, который будет скрывать секции */
.hidden {
    display: none;
}
/* Для контейнера всех дополнительных картинок прописываем стили */
/* Блок - див для картинок */
#details {
    position: absolute;
    top: 0;    
    width: 100%;
}